<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" style="color: #7871ea">
      <img src="../../assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        &nbsp;&nbsp;&nbsp;<b>RevisionAI</b>
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/viewArchive" routerLinkActive="active">View Archive</a>
      </li>
    </ul>
  </div>

  <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- Players Dropdown 
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
          role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Players
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/addPlayer" routerLinkActive="active">Add Player</a>
            <a class="dropdown-item" routerLink="/viewPlayers" routerLinkActive="active">View Players</a>
        </div>
      </li>
      <!-- Articles Dropdown 
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
          role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Articles
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/addArticle" routerLinkActive="active">Add Article</a>
            <a class="dropdown-item" routerLink="/viewArticle" routerLinkActive="active">View Articles</a>
        </div>
      </li>
      <!-- Streams Dropdown
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Streams
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/addLive" routerLinkActive="active">Add Live Stream</a>
            <a class="dropdown-item" routerLink="/viewLive" routerLinkActive="active">View Live Stream</a>
        </div>
      </li>
      <!-- Channels Dropdown
      <li class="nav-item">
        <a class="nav-link" routerLink="/channels" routerLinkActive="active">Channels</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div> -->
</nav>  